[user]
	email = dekr0.dk@protonmail.com
	name = Dekr0
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	st-short = status -s
	ls-mod = ls-files --modified --deduplicate
	ls-del = ls-files --deleted --deduplicate
	ls-untrack = ls-files --other --deduplicate
	ls-std = ls-files --modified --deleted --other --exclude-standard --deduplicate

[safe]
	directory = I:\\secondary_os_shared\\notebook\\
	directory = I:/secondary_os_shared/notebook
[core]
	editor = nvim
[gui]
	recentrepo = D:/codebase/hd2-audio-modder
